In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [2]:
# Set executable path and initiate chrome browser in splinter
executable_path = {'executable_path':'/Users/jeann/git_school/Tools/chromedriver'}
browser = Browser('chrome', **executable_path)

## NASA Mars News

In [5]:
# Mars news URL of webpage to scrape
news_url = 'https://mars.nasa.gov/news'

browser.visit(news_url)

html = browser.html

news_soup = soup(html, 'html.parser')

In [6]:
# Obtain the latest news title and paragraph
news_title = news_soup.find_all('div', class_='content_title')[0].text
news_p = news_soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print("-------------------------------------------------------------------------")
print(news_p)

Mars Now
-------------------------------------------------------------------------
The six-wheeled scientist is heading south to explore Jezero Crater’s lakebed in search of signs of ancient microbial life.

In [7]:
# Quit splinter browser
browser.quit()

## JPL Mars Space Images - Featured Image

In [8]:
# JPL Mars image to be scraped 
browser = Browser('chrome', **executable_path)

jpl_url = 'https://www.jpl.nasa.gov'
images_url = 'https://www.jpl.nasa.gov/images?search=&category=Mars'

browser.visit(images_url)

html = browser.html

images_soup = soup(html, 'html.parser')

In [9]:
# Image link
ft_image_path = images_soup.find_all('img')[3]["src"]
ft_image_url = jpl_url + ft_image_path
print(ft_image_url)

https://www.jpl.nasa.govhttps://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24663.2e16d0ba.fill-400x400-c50.jpg

In [10]:
# Quit splinter browser
browser.quit()

## Mars Facts

In [18]:
# Mars facts to scrape and inserted into dataframe
browser = Browser('chrome', **executable_path)

facts_url = 'http://space-facts.com/mars/'

browser.visit(facts_url)

html = browser.html

facts_soup = soup(html, 'html.parser')

df = pd.read_html('http://space-facts.com/mars/')[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
df.columns = ['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
# Quit splinter browser
browser.quit()

## Mars Hemispheres

In [20]:
# Mars hemisphere data to scrape
browser = Browser('chrome', **executable_path)

hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemisphere_url)

hemisphere_html = browser.html

hemisphere_soup = soup(hemisphere_html, 'html.parser')

In [24]:
# Mars hemispheres data 
all_mars_hemispheres = hemisphere_soup.find('div', class_='collapsible results')
mars_hemispheres = all_mars_hemispheres.find_all('div', class_='item')

hemi_images_urls = []

# Iterate through all hemisphere data
for h in mars_hemispheres:
    hemisphere = h.find('div', class_="description")
    title = hemisphere.h3.text
    
    hemisphere_link = hemisphere.a["href"]
    browser.visit(hemisphere_url + hemisphere_link)
    
    image_html = browser.html
    image_soup = soup(image_html, 'html.parser')
    
    image_link = image_soup.find_all('div', class_='downloads')
    image_url = image_link.find('li').a['href']
    
    # Image dictionary
    image_diction = {}
    image_diction['title'] = title
    image_diction['img_url'] = image_url
    
    hemi_images_urls.append(image_diction)

print(hemi_images_urls)

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?